{% extends "base.html" %}
{% block content %}

<div class="flex-container">
	<div class="col-md-4">   
		<div class="row">
			<ul>
				<b>Prefixes</b>
				<li>j = jump/in-air</li>
				<li>tk = tiger knee</li>
				<li>ia = instant air</li>
			</ul>
		</div>
		<div class="row">
			<ul>
				<b>Character specific prefixes</b>
				<li>Elphelt: SG- = shotgun</li>
				<li>Leo: bt = backturn</li>
				<li>Jam: c = carded</li>
				<li>Jam: max = max carded</li>
				<li>Answer: s. = scroll</li>
			</ul>
		</div>
		<div class="row">
			<ul>
				<b>Suffixes</b>
				<li>.CH = counter hit</li>
				<li>.nb = on normal block</li>
				<li>.fd = on faultless defense</li>
				<li>.ib = on instant block</li>
				<li>.w = on whiff</li>
				<li>.c = on clash</li>
				<li>.RC = roman cancel in the move startup</li>
			</ul>
		</div>
		<div class="row">
			<ul>
				<b>Modifiers</b>
				<li>[button] = charged button</li>
				<li>-button- = release button</li>
				<li>(number) = number of hits</li>
			</ul>
		</div>
		<div class="row">
			<ul>
				<b>Miscellaneous</b>
				<li>dl = delay</li>
				<li>jc = jump cancel</li>
				<li>fdc = faultless defense cancel</li>
				<li>wallstick</li>
				<li>wallslump</li>
				<li>roll</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8">
		<div>
			<form method="POST" action="">
				{{ form.hidden_tag() }}

				<div class="form-row">
					<div class="form-group col-md-2">
						{{ form.character.label(class="form-control-label") }}
						{{ form.character(class="form-control") }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						{{ form.combo.label(class="form-control-label") }}
						{{ form.combo(class="form-control") }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-2">
						{{ form.meter.label(class="form-control-label") }}
						{{ form.meter(class="form-control") }}
					</div>

					<div class="form-group col-md-2">
						{{ form.damage.label(class="form-control-label") }}
						{{ form.damage(class="form-control") }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-check-inline custom-control custom-switch">
						{{ form.standing(class="custom-control-input") }}
						{{ form.standing.label(class="custom-control-label") }}
					</div>
					<div class="form-check-inline custom-control custom-switch">
						{{ form.crouching(class="custom-control-input") }}
						{{ form.crouching.label(class="custom-control-label") }}
					</div>
					<div class="form-check-inline custom-control custom-switch">
						{{ form.jumping(class="custom-control-input") }}
						{{ form.jumping.label(class="custom-control-label") }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-check-inline custom-control custom-switch">
						{{ form.midscreen(class="custom-control-input") }}
						{{ form.midscreen.label(class="custom-control-label") }}
					</div>
					<div class="form-check-inline custom-control custom-switch">
						{{ form.nearcorner(class="custom-control-input") }}
						{{ form.nearcorner.label(class="custom-control-label") }}
					</div>
					<div class="form-check-inline custom-control custom-switch">
						{{ form.corner(class="custom-control-input") }}
						{{ form.corner.label(class="custom-control-label") }}
					</div>
				</div>
				<br>
				<div class="form-row">
					<div class="form-group">
						<label class="form-check-label" for="table_characters">CHARACTER SPECIFICITY</label>
								(<input type="checkbox" class="check" id="checkAll">
								<label for="checkAll">Everyone</label>
								)
						<table class="table table-bordered" id="table_characters">
						<tbody>
							<tr>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.sol(class="custom-control-input check") }}
										{{ form.sol.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.ky(class="custom-control-input check") }}
										{{ form.ky.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.may(class="custom-control-input check") }}
										{{ form.may.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.millia(class="custom-control-input check") }}
										{{ form.millia.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.zato1(class="custom-control-input check") }}
										{{ form.zato1.label(class="custom-control-label") }}
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.potemkin(class="custom-control-input check") }}
										{{ form.potemkin.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.chipp(class="custom-control-input check") }}
										{{ form.chipp.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.faust(class="custom-control-input check") }}
										{{ form.faust.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.axl(class="custom-control-input check") }}
										{{ form.axl.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.venom(class="custom-control-input check") }}
										{{ form.venom.label(class="custom-control-label") }}
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.slayer(class="custom-control-input check") }}
										{{ form.slayer.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.ino(class="custom-control-input check") }}
										{{ form.ino.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.bedman(class="custom-control-input check") }}
										{{ form.bedman.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.ramlethal(class="custom-control-input check") }}
										{{ form.ramlethal.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.sin(class="custom-control-input check") }}
										{{ form.sin.label(class="custom-control-label") }}
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.elphelt(class="custom-control-input check") }}
										{{ form.elphelt.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.leo(class="custom-control-input check") }}
										{{ form.leo.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.johnny(class="custom-control-input check") }}
										{{ form.johnny.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.jacko(class="custom-control-input check") }}
										{{ form.jacko.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.jam(class="custom-control-input check") }}
										{{ form.jam.label(class="custom-control-label") }}
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.kum(class="custom-control-input check") }}
										{{ form.kum.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.raven(class="custom-control-input check") }}
										{{ form.raven.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.dizzy(class="custom-control-input check") }}
										{{ form.dizzy.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.baiken(class="custom-control-input check") }}
										{{ form.baiken.label(class="custom-control-label") }}
									</div>
								</td>
								<td>
									<div class="form-check-inline custom-control custom-switch">
										{{ form.answer(class="custom-control-input check") }}
										{{ form.answer.label(class="custom-control-label") }}
									</div>
								</td>
							</tr>
						</tbody>
						</table>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
							{{ form.comment.label(class="form-control-label") }}
							{{ form.comment(class="form-control", rows="3") }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						{{ form.videolink.label(class="form-control-label") }}
						{{ form.videolink(class="form-control") }}
					</div>
				</div>

				<div class="form-row">
						{{ form.submit(class="btn btn-line-info") }} 
				</div>
			</form>
		</div>
	</div>
</div>


<script>
$("#checkAll").click(function () {
	$(".check").prop('checked', $(this).prop('checked'));
});
</script>
{% endblock %}

<!-- narrow the div so they appear more at the center -->