{% extends "base.html" %}

{% block content %}
	<div class="flex-container">
		<div class="flex-item text-center">
			<h3>RESET</h3>
		</div>
		<div class="flex-item text-center">
			<h4>CHARACTER CONTAINS(starter or not) SPACING TENSION CHAR SPECS -> GO</h4>
		</div>
		<div class="flex-item text-center">
				<h3><a href="/submit">SUBMIT A COMBO</a></h3>
		</div>
	</div>

	<br>
	{% for post in posts %}
	<div class="container-fluid rounded flashcard">		
		<div class="combo_tab" style="display: block">	
			<div class="row">
				<div class="col-md-2">
					<img src="" alt="{{post.character}}" class="portrait {{post.character}}">
				</div>
				<div class="col-md-10 combo-col rounded" style="height: 82px;overflow-y: hidden;">
					<h3 class="text-center combo">
						<p>{{post.combo}}</p>
					</h3>
				</div>
			</div>
			<div class="row details">
				<div class="col-md-4">
					<h4 class="text-left">
						Tension: {{post.meter}}
						<br>
						{{post.resources}}
					</h4>
				</div>
				<div class="col-md-4 stances">
					{% if post.standing == 'true' %}
						<img src="{{url_for('static', filename='img/standing.png')}}" alt="Card image" height="60" style="padding: 0rem;">			
					{% else %}
						<img src="{{url_for('static', filename='img/not_standing.png')}}" alt="Card image" height="60" style="padding: 0rem;">	
					{% endif %}
						{% if post.crouching == 'true' %}
						<img src="{{url_for('static', filename='img/crouching.png')}}" alt="Card image" width="50" style="padding: 0rem;">			
					{% else %}
						<img src="{{url_for('static', filename='img/not_crouching.png')}}" alt="Card image" width="50" style="padding: 0rem;">	
					{% endif %}
						{% if post.jumping == 'true' %}
						<img src="{{url_for('static', filename='img/jumping.png')}}" alt="Card image" height="60" style="padding: 0rem;">			
					{% else %}
						<img src="{{url_for('static', filename='img/not_jumping.png')}}" alt="Card image" height="60" style="padding: 0rem;">	
					{% endif %}
				</div>
				<div class="col-md-4">
					<h4 class="text-right">
					{% if post.midscreen == 'true' and post.nearcorner == 'true' and post.corner == 'true' %}
						ANYWHERE<br>
					{% else %}
						{% if post.midscreen == 'true' %}
							Midscreen<br>
						{% endif %}
						{% if post.nearcorner == 'true' %}
							Near corner<br>
						{% endif %}
						{% if post.corner == 'true' %}
							Corner<br>
						{% endif %}
					{% endif %}
					</h4>
				</div>
			</div>
		</div>
		<div class="desc_tab" style="display: none">
				<div class="rounded combo-col anyClass">
					<h3 class="text-center">{{post.combo}} <span class="dmg">{{post.damage}}dmg</span></h3>
					<h5>{{post.comment}}</h5>
				</div>
		</div>
		<div class="chars_tab text-center" style="display: none;">
			<div class="thumbnails {{post.characters}}"></div>
		</div>
		<div class="video_tab" style="display: none;">
			{% if 0 %}
			<div class="video-container  text-center">		
					<iframe width="560" height="315" src="{{post.youtube-video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			{% elif 1 %}
		<!--	<blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">
					<a href="{{post.twitter_video}}"></a>
			</blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
			-->
			{% else %}
				NO VIDEO
			{% endif %}
		</div>
		<!-- CARD NAV -->
		<div class="row details">
			<div class="col-md-12">
				<nav>
					<ul class="pagination justify-content-center">
						<li class="page-item">
							<a class="page-link card_tab" href="#!" onclick="show_tab(this, 'combo_tab')">Combo</a>
						</li>
						<li class="page-item">
							<a class="page-link card_tab" href="#!" onclick="show_tab(this, 'desc_tab')">Description</a>
						</li>
						<li class="page-item">
							<a class="page-link card_tab" href="#!" onclick="show_tab(this, 'chars_tab')">Characters</a>
						</li>
						<li class="page-item">
							<a class="page-link card_tab" href="#!" onclick="show_tab(this, 'video_tab')">Video</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<br>
	{% endfor %}

	<br><br>
	<!-- JavaScript -->
	<script src="/static/js/flashcard_numbering.js"></script>
	<script src="/static/js/flashcard_tabs_switch.js"></script>
	<script src="/static/js/portrait_load.js"></script>
	<!--<script src="/static/js/charspecs_table.js"></script> --> <!-- Uncommenting it will make the script run for a 2nd time for some reason. -->
	{% endblock %}

<!--
	-> 95 characters max per combo in the combo_tab (overflow: hidden)
	-> implement video tab
	-> form for displaying concerned combos (+ reset)
	-> add a combo submit page

	-> minimum width of 480px for flashcards
-->